.MainTableContentTR1{
    border-top: 1px solid #ECECEC;
  }


  td {
    max-width: 30em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .serviceBorder{
    border-left: 4px solid transparent; 
    
  }

  .MainTableContentTD{
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1em;
  }

  .MainTableContentTR1:hover {
    background: #FAFAFA;
    color: black;
    cursor: pointer;
  }