.mainBox{
    background: #f8f8f8;
    width: 48%;
    height: 150px;
    border: 1px solid #aaa;
    margin-left: 5px;
}

.nameRuleBox{
    text-align: center;
    margin-top: 5px;
    background: #f8f8f8;
    font-weight: bold;
}


.informationRuleBox{
    margin-left: 10px;
    background: white;
}

.noProblemRuleBox{

    width: 20%;
    margin-top: 270px;
    font-size: 40px;
    color: #aaa;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}