.DetailTableData--tr{
    border-top: 1px solid #ECECEC;
  }

.DetailTableData--tr:hover {
    background: #FAFAFA;
    color: black;
  }

.DetailTableData--child--td{
    border-left: 1px solid rgb(204,204,204);
    border-right: 1px solid rgb(204,204,204);
    border-top: 1px solid rgb(230,230,230);
    border-bottom: 1px solid rgb(230,230,230);
    width: 10%;
    padding-left: 2em;

    max-width: 25em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

td {
    max-width: 25em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

.DetailTableData--serviceBorder{
    border-left: 4px solid transparent; 
    padding-left: 0.6em; 
  }

.DetailTableData--td{
    border-left: 1px solid rgb(204,204,204);
    border-right: 1px solid rgb(204,204,204);
    border-top: 1px solid rgb(230,230,230);
    border-bottom: 1px solid rgb(230,230,230);
    width: 9.09%;
    padding-left: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
