.DetailTraceTableTR1{
    border-top: 1px solid #ECECEC;
  }

  .DetailTraceTableChildTD{
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    width: 9.09%;
    padding-left: 2em;
  }

  td {
    max-width: 30em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .serviceBorder{
    border-left: 4px solid transparent; 
    padding-left: 0.6em; 
  }

  .DetailTraceTableTD{
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    width: 9.09%;
    padding-left: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }