.MainTableDataTD{
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    padding-left: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  td {
    max-width: 30em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


  .MainTableDataTR{
    border-top: 1px solid #FFFFFF;

  }
  
  .MainTableDataTR:hover {
    background: #FAFAFA;
    color: black;
    cursor: pointer;
  }

  .LabelBorder{
    border-left: 4px solid transparent; 
    padding-left: 0.6em; 
  }