.MainTableData--td{
    border-left: 1px solid rgb(204,204,204);
    border-right: 1px solid rgb(204,204,204);
    padding-left: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 25em;
  }

  .MainTableData--tr{
    border-top: 1px solid rgb(255,255,255);
  }
  
  .MainTableData--tr:hover {
    background: rgb(250,250,250);
    color: rgb(0,0,0);
  }

  .MainTableData--labelBorder{
    border-left: 4px solid transparent; 
    padding-left: 0.6em; 
  }