.MainTableData--td{
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    padding-left: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 25em;
  }

  .MainTableData--tr{
    border-top: 1px solid #FFFFFF;
  }
  
  .MainTableData--tr:hover {
    background: #FAFAFA;
    color: black;
  }

  .LabelBorder{
    border-left: 4px solid transparent; 
    padding-left: 0.6em; 
  }