.dropdown{

    width: 12%;
    border: 1px solid #CCCCCC;
    position: relative;
    display: inline-block;
}

#dropDownLabel{

    width: 100%;
    background: transparent;
}

#buttonDropDown{
    float: right;
    border: none;
    background: transparent;

}

ul {
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 100%;
    border: 1px solid #CCCCCC;
    margin-top: 2px;

    
}